.nav-tabs {
  margin: 15px !important;
}

.nav {
  margin-bottom: 15px;
}

.side-nav div {
  margin-top: 50px;
}

.btn {
  margin: 3px;
}

.btn-info {
  background-color: #4A83CC;
  border-color: #4A83CC;
}

#add-new-event {
  float: right;
}
#add-new-event a {
  border-color: #eceeef #eceeef #ddd;
}

.container {
  margin-left:0 !important;
}

.btn-sm {
  width: 150px;
}

.list-group-item.overdue {
  border: red solid 3px;
}

.list-group-item.overdue label {
  color: red;
}

.task-group {
  margin-top: 40px;
}

.task-list input.form-check-input {
  margin-bottom: 4px;
display: inline-block;
vertical-align: middle;
}

.task-list label.form-check-label {
  display: inline-block;
    margin-left: 10px;
    margin-bottom: 0
}

.task-list small {
    margin-left: 25px;

}

form {
  margin-top: 25px;
}

.button-row {
  text-align: center;
  margin-top: 40px;
}

.email-content-display {
  background-color: #eceeef;
  border-radius: .3rem;
  padding: 25px;
  margin-bottom: 20px;
}

 @media(min-width:768px) {
   .main-content {
     float:right;
     width:80%; }

   .side-nav {
     float:left;
     width:20%;
     margin-top: 100px; }
}
