.events-nav {
  border-bottom: 1px solid #ddd;
  margin-top:20px;
  margin-bottom:20px;
}

.user-nav {
  background-color: navy;
  color: white;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;;
}

.user-nav a, .user-nav a:active, .user-nav a:hover, .user-nav a:visited, .user-nav a:focus {
  color: white;
  text-decoration: none;
}

.user-name-link {
  float: left;
}

.logout-link {
  float: right;
}

.login-container {
  position:fixed;
  top: 30%;
  left: 25%;
  width: 50%;
}

.main-container {
  margin-top: 40px;
}

.wrapper {
  display: inline-block;
  width: 80%;
  height:40px;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: bottom;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.nav-tabs {
  border-bottom: 0px solid #ddd !important;
}

.nav-tabs .nav-item {
  float: none !important;
  display: inline-block !important;
}

.side-nav div {
  margin-top: 50px;
}

.scroller-arrow {
  display:inline-block;
  padding-bottom:6px;
}

.btn {
  margin: 3px;
}

.btn-info {
  background-color: #4E76CC !important;
  border-color: #4E76CC !important;
}

#add-new-event {
  float: right;
}
#add-new-event a {
  border-color: #eceeef #eceeef #ddd;
}

#add-new-event button {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
  border-color: lightgrey;
  border-bottom-color: lightgrey;
  color: #4E76CC;
}

.container {
  margin-left:0 !important;
}

.btn-sm {
  width: 150px;
}

.list-group-item {
  z-index: -1;
  position: inherit !important;
}

.list-group-item.overdue {
  border: red solid 3px;
}

.list-group-item.overdue label {
  color: red;
}

.task-group {
  margin-top: 40px;
}

.task-list input.form-check-input {
  margin-bottom: 4px;
display: inline-block;
vertical-align: middle;
}

.task-list label.form-check-label {
  display: inline-block;
    margin-left: 10px;
    margin-bottom: 0
}

.task-list small {
    margin-left: 25px;

}

form {
  margin-top: 25px;
}

.button-row {
  text-align: center;
  margin-top: 40px;
}

.email-content-display {
  background-color: #eceeef;
  border-radius: .3rem;
  padding: 25px;
  margin-bottom: 20px;
}

.clickable {
cursor: pointer;
}

.line-height-zero {
  line-height: 0;
}

 @media(min-width:768px) {
   .main-content {
     float:right;
     width:80%; }

   .side-nav {
     float:left;
     width:20%;
     margin-top: 100px; }
}

.overlay-container {
  position: fixed; /* Sit on top of the page content */
  /* display: none; /* Hidden by default */ */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  padding-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  color: black;
  text-align: left;
}

svg {
  margin: 0 10px;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.overlay-container .btn-link:focus {
  text-decoration: none;
  outline:none;
}

.overlay {
  width: 75%;
  margin: auto;
}

.overlay h4 {
  text-align:center;
  margin-bottom: 35px;
}

.overlay .jumbotron {
  padding: 3rem 2rem;
  width: 80%;
  height: 90%;
  overflow: scroll;
  z-index:5;
  position: absolute;
}

.overlay .create-defaults-div {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 15px;
  margin-top: 20px;
}

.overlay .create-defaults-button {
  white-space: normal;
  height: 75px;
  width: 150px;
  margin: 10px;
}

.overlay h5 {
  margin-left: 15px;
  margin-bottom: 15px;
}

.user-settings {
  width: 60%;
  margin: auto;
  margin-bottom: 50px
}

.default-settings {
  margin: 50px auto;
}

.event-type-dropdown {
  text-align: center;
  width: 40%;
  margin: auto;
}

.event-type-dropdown-label {
  padding: 0 !important;
  text-align: right;
  margin: 0;
}

.overlay .input-container {
  margin-top: 8px;
}

.overlay form {
  margin-top: 0;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.overlay .collapsable {
  border-top: 1px solid lightgray;
  padding: 15px;
}

.collapsable {
  display:none;

}

.phase-defaults {
  width:90%;
  border: 1px solid darkgray;
  border-radius: 2px;
  margin: 5px auto;
}

.phase-defaults input {
  display: inline-block;
}

.phase-defaults-add-new .form-group {
  display: inline-block;
}

.phase-defaults .form-group {
  margin: 0 5px;
}

.phase-defaults select {
  width: initial;
  display: inline-block;
  margin-left: 15px;
}

.phase-defaults .description-field {
  width: 50%
}

.phase-defaults .subject-field {
  width: 60%
}

.due-date-field .form-control {
  width: 60px;
  padding-right: 0;
}

.overlay .btn-primary {
  margin-top: 0;
}

.due-date-field input {
  margin-right: 10px;
}

.cancel-new-default {
  float: right;
  margin-top: 10px;
}

.phase-defaults .email-body-field {
  display: block !important;
}

.list-group-item span {
  margin-right: 10px;
}

.default-group {
  margin-top: 20px;
}

.show {
  display:block;
}

.green {
  color: green;
}

.italic {
  font-style: italic;
}

.saved-defaults .close-icon {
  color: red;
}

.saved-defaults .list-group-item {
  z-index: 10;
}

.create-default-helper-text {
  font-size: 14px;
  line-height: 1.3em;
  width: 89%;
  margin-left: 20px;
  margin-bottom: 10px;
}

.add-default-container {
  margin-bottom: 50px;
}

.default-task-title {
  margin: 10px;
}

.default-task-due-date {
  line-height: 1.2em;
  margin-left: 10px;
  margin-right: 50px;
  margin-bottom: 5px;
}

.default-task-description {
  line-height: 1.2em;
  margin-left: 10px;
  margin-right: 50px;
}

.saved-defaults .task-group .list-group-item {
  padding:0;
}

.saved-defaults .email-content-display {
  padding: 10px;
}

.add-default-buttons {
  float: right;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: inherit !important;
}

.no-item-message {
  z-index: 0;
}
